# local or cloud
DEFAULT_STORAGE_PLATFORM=local
DEFAULT_DB_PLATFORM=local

LOG_LEVEL=DEBUG
LOG_LEVEL_ROOT=DEBUG
LOG_LEVEL_STDOUT=DEBUG
LOG_LEVEL_FILE=DEBUG

# # GCP credentials (Suggest mounting the json key file as a secret in production and setting the path here)
GOOGLE_APPLICATION_CREDENTIALS=path/to/service_account.json
GCP_PROJECT_ID=your-gcp-project-id

POSTGRES_USER=root
POSTGRES_PASSWORD=root
POSTGRES_DB=default_db
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

# Check Maven for the absolute latest
GCS_CONNECTOR_VERSION=hadoop3-2.2.22

# Dagster configuration
DAGSTER_HOME=/abs/path/to/.dagster