LOG_LEVEL = DEBUG
LOG_LEVEL_ROOT = DEBUG
LOG_LEVEL_STDOUT = DEBUG
LOG_LEVEL_FILE = DEBUG

POSTGRES_PASSWORD = password
GOOGLE_APPLICATION_CREDENTIALS = path/to/service_account.json

POSTGRES_USER = username
POSTGRES_PASSWORD = password
POSTGRES_DB = db_name
POSTGRES_HOST = localhost
POSTGRES_PORT = 5432

GCS_CONNECTOR_VERSION = hadoop3-2.2.22 # Check Maven for the absolute latest