DEFAULT_STORAGE_PLATFORM = local # local or cloud
DEFAULT_DB_PLATFORM = local # local or cloud

LOG_LEVEL = DEBUG
LOG_LEVEL_ROOT = DEBUG
LOG_LEVEL_STDOUT = DEBUG
LOG_LEVEL_FILE = DEBUG

GOOGLE_APPLICATION_CREDENTIALS = path/to/service_account.json

POSTGRES_USER = root
POSTGRES_PASSWORD = root
POSTGRES_DB = default_db
POSTGRES_HOST = localhost
POSTGRES_PORT = 5432

GCS_CONNECTOR_VERSION = hadoop3-2.2.22 # Check Maven for the absolute latest