databases:
  local_pg:
    type: "postgres"
    host: "localhost"
    port: 5432
    user: "username"
    database: "example_database"
  analytics_bq:
    type: "bigquery"
    project_id: "example_project"
    # Relative path from project root or absolute path
    credentials_path: "path/to/key.json"

storage:
  gcs_raw_data:
    type: "gcs"
    bucket_name: "unique_bucket_name" # Default bucket
    credentials_path: "path/to/key.json"